<div class="container">
  <div class="row">
    <div class="col-12 main-visual mx-auto d-flex align-items-center">
      <div class="cover-text text-center mx-auto">
				<p class="text-primary font-weight-bold h1 my-3">
				  Reportへようこそ!!
				</p>
				<p class="text-primary font-weight-light h5">
				  このサイトは、業務一元管理サイトになります!<br>
				  スケジュール管理<br>
				  報告書作成<br>
				  取引先管理<br>
				  一緒に働く仲間とのやり取りがスムーズに!!
				</p>
			</div>
    </div>
  </div>
  
  <div class="row mt-5">
    <h4>以下のアカウントでログインしてみてください!!</h4>
  </div>
  
  <div class="row mb-5 align-items-center">
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title">管理者</h4>
          <p class="card-text">
            メールアドレス：admin@report.jp<br>
            パスワード：password
          </p>
          <%= link_to "管理者ログイン", new_admin_session_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title">ゲストユーザー1</h4>
          <p class="card-text">
            メールアドレス：yamada@report.jp<br>
            パスワード：123456
          </p>
           <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>  
    </div>
    <div class="col-4">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title">ゲストユーザー2</h4>
          <p class="card-text">
            メールアドレス：suzuki@report.jp<br>
            パスワード：123456
          </p>
           <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>  
    </div>
  </div>
  
</div>
