<div class="container">
  <div class="row mb-5">
    <h4 class="col-md-3 offset-1 bg-light text-center"><%= @user.last_name %><%= @user.first_name %>の編集</h4>
  </div>
  
  <%= render 'form', user:@user %>
　
</div>
